.sidebar{
    width: 200px;
    background-color: #ffffff;
    padding-left: 100px;
  }

.sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #040273;
    border-left: 2px solid #040273;
    transition: background-color 0.5s ease; /* Smooth transition effect */
  }
  
  /* Hover effect */
  .sidebar ul li:hover {
    color: #ffffff;
    background-color: #040273; /* Change color on hover */
  }
  
  .pageheader {
    max-width: 1405px;
    height: 45px;
    font-size: 24px;
    border-bottom: 2px solid #bcbcbc;
    box-sizing: border-box;
    margin-left: 100px;
    font-family:Arial, sans-serif;
}

.courseinfo {
    padding-left: 50px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 800px;
  }
  
  .coursetitle h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .courseinfo h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: #040273;
  }

  .coursedetails-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .coursedetails-container {
    flex: 1;
    line-height: 1.6;
  }
  
  .coursedetails p {
    margin: 10px 0;
  }
  
  .coursedetails a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .coursedetails a:hover {
    text-decoration: underline;
  }
  
  .courseinstructions {
    padding: 10px;
    background-color: #e0e0e0;
    border-left: 5px solid #040273;
    margin-top: 20px;
  }
  
  .courseinstructions p {
    font-size: 14px;
  }

  .todolist{
    width: 300px;
    margin-left: auto;
    padding-right: 20px;
    font-family: Arial, sans-serif;
  }
  .todolist ul {
    padding: 0; /* Remove default padding for the list */
}
.todoheader{
    font-size: 20px;
}

.todolist ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #040273;
    background-color: #f9f9f9;
    transition: background-color 0.5s ease;
}
 .todolist ul li:hover {
    color: #ffffff;
    background-color: #040273; /* Change color on hover */
  }
