.container-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar-home {
  background-color: #14445a;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.logo-home {
  width: 70px;
}

.border {
  border-bottom: 1px solid #a8a4a4;
}

.topbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left-home {
  display: flex;
  align-items: left;
  justify-content: left;
}

.topbar-right-home {
  display: flex;
  align-self: right;
  justify-self: right;
}

.topbar-home ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

}

.topbar-home ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.nav-home {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(199, 64%, 22%);
  padding: 13.5px 20px;
  border: none;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon-home {
  margin-right: 10px;
  font-size: 20px;
}

.nav-home:hover {
  background-color: #0a242e;
  cursor: pointer;
}

.nav-home-selected {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14445a;
  padding: 13.5px 20px;
  border: none;
  color: #f5bc16;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-home-selected:hover {
  background-color: #0a242e;
  cursor: pointer;
}

.date-home {
  color: white;
  font-size: 17px;
  padding: 10px 20px;
}

.main-home {
  display: flex;
  height: 100%;
}

.main-left-home {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #16414d;
  width: 80%;
  height: 100%;
}

.maintop-home {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 35px;
}

.view-home {
  display: flex;

}

.cards-home {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin-top: 20px;
  color: black;
}

.main-right-home {
  display: flex;
  flex-direction: column;
}

.profile-dropdown {
  position: relative;
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 150px;
}

.dropdown-menu a {
  display: block;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.dropdown-menu a:hover {
  background: linear-gradient(135deg, #f5bc16, #ff9a00);
  color: white;
  transform: scale(1.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}


.dropdown-menu a:last-child {
  border-bottom: none;
}


.dps {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.dps:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}
